.IDFI-BUTTON {
    opacity: 0.3;
    border: 0 !important;
    margin: 5px !important;
    width: 32px !important;
    color: #333 !important;
    height: 32px !important;
    padding: 5px !important;
    display: block;
    cursor: pointer !important;
    font-size: 32px !important;
    font-weight: bold !important;
    line-height: 32px !important;
    text-align: center !important;
    position: absolute !important;
    border-radius: 50px !important;
    z-index: 99999999999999999 !important;
    transition: 300ms ease all !important;
    -moz-transition: 300ms ease all !important;
    -webkit-transition: 300ms ease all !important;
}

.IDFI-BUTTON-UNDER {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -2px;
}
.wmtNn {
    display: flex !important;
}
.tl {
    top: 0px;
    left: 0px !important;
}

.tr {
    top: 0px;
    right: 0px !important;
}

.bl {
    bottom: 0px !important;
    left: 0px !important;
}

.br {
    bottom: 0px !important;
    right: 0px !important;
}

.under {
    cursor: pointer;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    visibility: hidden;
    width: 32px;
    height: 32px;
    margin: 4px;
}
.lds-ripple div {
    position: absolute;
    border: 2px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 14px;
        left: 14px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 29px;
        height: 29px;
        opacity: 0;
    }
}

.download-all {
    background-size: auto;
    cursor: pointer;
    height: 22px;
    width: 22px;
    background-position: center center;
    background-repeat: no-repeat;
}

.download-all-modal {
    display: none;
    right: -140px;
    z-index: 11;
    top: 38px;
    height: auto;
    width: 300px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.098) 0px 0px 5px 1px;
    font-family: "lucida grande", sans-serif;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    border-radius: 3px;
    transition: all 0.3s ease-in-out 0s;
}
