.IDFI-BUTTON {
    opacity: 0.3;
    border: 0 !important;
    margin: 3px !important;
    width: 24px !important;
    color: #333 !important;
    height: 24px !important;
    padding: 3px !important;
    display: block !important;
    cursor: pointer !important;
    font-size: 22px !important;
    font-weight: bold !important;
    line-height: 22px !important;
    text-align: center !important;
    position: absolute !important;
    border-radius: 32px !important;
    z-index: 99999999999999999 !important;
    transition: 300ms ease all !important;
    -moz-transition: 300ms ease all !important;
    -webkit-transition: 300ms ease all !important;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    visibility: hidden;
    width: 32px;
    height: 32px;
    margin: 4px;
}
.lds-ripple div {
    position: absolute;
    border: 2px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 14px;
        left: 14px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 29px;
        height: 29px;
        opacity: 0;
    }
}
